@import "./variables";

.header {
  padding: 10px 0 20px 0 ;

  form {
    display: flex;
    justify-content: center;
    margin: 20px;

    input {
      height: 40px;
      width: 470px;
      outline: none;
      color: $black;
      padding: 0 15px;
      font-size: 16px;
      border-radius: 2px;
      border: none;
    }

    button {
      background: $orange;
      margin-left: 10px;
      width: 100px;
      height: 40px;
      border: none;
      cursor: pointer;
      color: $white;
      border-radius: 5px;
      transition: .3s;
      

      &:hover {
        background: $darkOrange;
        text-shadow: 0px 0px 2px $white;
      }
    }
  }
}
