@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&display=swap");

@import "./variables.scss";

body {
  font-family: "Montserrat", sans-serif;
  background: $black;

  h1.title {

    $titleBg: #21252e;

    color: $white;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: $titleBg;
    padding: 10px 0;
    box-shadow: 0 0 10px 0 rgba($white, 0.05);
    letter-spacing: 8px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.todo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
