@import './variables';

.todo-container {
  position: relative;
  max-width: 370px;
  width: 370px;
  background: $white;
  border-radius: 5px;
  padding: 10px 15px 20px 15px;

  h1 {
    top: 10px;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    color: $black;
    margin: 20px 0;
    text-transform: uppercase;
  }

  p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid $gray_1;
  }

  .here {
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: -2px;
      border-bottom: 5px solid rgba($gray_3, 0.3);
      filter: blur(2px);
    }
  }


  .todo-item {
    position: relative;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
    cursor:move;
    
    &:hover {
      .btns {
        margin-right: 0;
      }
    }

    .text {
      align-self: flex-end;
      display: flex;
      align-items: flex-end;
      font-family: "Roboto";
      color: $black;
      font-size: 14.5px;
      min-height: 23px;
      border-bottom: 1px solid $gray_2;
      padding: 4px 4px 2px 3px;
      line-height: normal;
      width: 100%;
      overflow: hidden;
      margin-bottom: 6px;
      margin-right: 5px;
    }

    textarea {
      align-self: flex-end;
      resize: none;
      outline: none;
      width: 100%;
      height: 23px;
      margin-right: 5px;
      font-size: 16px;
      overflow: hidden;
      border: none;
      border-bottom: 1px solid $gray_2;
      color: $black;
      font-size: 15px;
      font-family: "Roboto";
      line-height: normal;
      font-style: italic;
      margin-bottom: 6px;
    }

    .move,
    .edit,
    .remove {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 40px;
      width: 40px;
      background: none;
      border: none;
      color: $black;
      cursor: pointer;

      * {
        transition: 0.3s;
      }
    }

    .edit {
      font-size: 29.5px;
      color: $white;

      * {
        padding: 7px;
        background: $black;
        border-radius: 4px;
      }
      &:hover {
        * {
          background: $orange;
        }
      }
      .done {
        &:hover {
          background: $green;
        }
      }
    }

    .move {
      font-size: 30px;

      &:hover {
        color: $green;
      }
    }

    .remove {
      font-size: 30px;
      color: $white;

      * {
        background: $black;
        padding: 5px;
        border-radius: 4px;
      }

      &:hover {
        * {
          background: $red;
        }
      }
    }
    .btns {
      display: flex;
      margin-right: -120px;
      transition: .5s ease-out;

      div {
        display: flex;
      }
    }

    
  }
}

#todo {
  h1 {
    color: $red;
  }
}

#inProgress {
  h1 {
    color: $orange;
  }
}

#complete {
  h1 {
    color: $green;
  }
  .todo-item {
    text-decoration: line-through;
    color: $gray_3;
    .text {
      color: $gray_3;
    }
  }

}
